/### txt
-$txtheader = "Découvrez toute la sélection « Loisirs Créatifs »";
-$edito = "Retrouvez notre collection de modèles<br /> en tout genre ! Coloriage, tricot, sequins<br /> mais aussi de nombreux accessoires<br /> vous attendent. Bonne découverte !";
/### content link
-$url       ="http://www.tempsl.fr/fr/";
-$index     ="index.aspx";
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"];
-$campaign  ="&utm_campaign=0914_loisirs_crea";
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo"];
/### footer
-$haconfiance   =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx"];
/### mentions
-$contactdesabo =["tempsl_et_vous/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"]
/### content link
-$s1_c1_r1   = "http://www.tempsl.fr/fr/index.aspx?utm_source=NL&utm_medium=email&utm_content=logo"+$campaign;
-$s1_c1_r2   = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=accroche"+$campaign;
-$s1_c2_r1   = $s1_c1_r2;
-$s1_c2_r2   = $s1_c1_r2;
-$s1_c2_1_r3 = $s1_c1_r2;
-$s1_c2_2_r3 = $s1_c1_r2;
-$s2         = $s1_c1_r2;
-$s3_c1      = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=collec1"+$campaign;
-$s3_c2      = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=collec2"+$campaign;
-$s4_c1      = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=collec3"+$campaign;
-$s4_c2      = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=collec4"+$campaign;
-$s5         = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1096&utm_source=NL&utm_medium=email&utm_content=bouton"+$campaign;
/### alt + title
-$title          = "TEMPS L";
-$alt_s1_c1_r1   = $title;
-$alt_s1_c1_r2   = "";
-$alt_s1_c2_r1   = "Faites vous plaisir, Créez !";
-$alt_s1_c2_r2   = "";
-$alt_s1_c2_1_r3 = "Sylvie Solley, directrice Temps L";
-$alt_s1_c2_2_r3 = "";
-$alt_s2         = "";
-$alt_s3_c1      = "Collection Coloriage";
-$alt_s3_c2      = "Collection Tricot";
-$alt_s4_c1      = "Collection Sequins";
-$alt_s4_c2      = "Accessoires";
-$alt_s5         = "Découvrez toute la sélection « Loisirs Créatifs »";
/### footer
-$furl       =$url+$index+$srcmedium[0]+$content[0]+$content[1]+$campaign;
-$fgaranties =$url+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign;
-$flivraison =$url+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign;
-$fpaiement  =$url+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign;

/### mentions
-$lcontact =$url+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[5]+$campaign;
-$ldesabo  =$url+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[6]+$campaign;